package main

templ about() {

<!DOCTYPE html>
<html>

@style()

<body>
    <div class="center">
    @homebutton()    
    
    @links()
    
    <h3>About this site:</h3>

    <p>This site is meant to allow you to view the history of memes as they develop over time.
    To learn more about what a meme is, see: <a href="https://en.wikipedia.org/wiki/Meme"> the wikipedia 
    page for meme</a>, or read The Selfish Gene (Dawkins 1976). 
    </p>

    <p> This site tracks memetic history by storing individual memes in trees.
    Each meme can have multiple ancestors and multiple offspring. Offspring are memes that inherit
    some trait from a meme that existed at an earlier point in time. These earlier memes are 
    ancestor memes. Individual offspring in a tree are referred to as variants. The original ancestor 
    in a tree, with no other ancestors, is referred to as a LUCA. LUCAs are dynamically updated
    as new data is added, since new ancestors will be discovered over time.
    </p>

    <p>Memes can be submitted by anyone, in order to allow for the representation of much information as possible.
    However, all data that appears on the publicly available website has been verified as the admins of this website.
    Evidence of original posters will be linked to in descriptions when available through the internet archive, but this
    cannot be done feasibly for every meme present in the database.</p>


    <p>This site is run by <a href="https://nlessard.online">Noah Lessard</a> and <a href="https://salm.dev">Nico Salm</a>.
    It is run for free, please donate by recommending the site to other people, submitting a meme or becoming a moderator.</p>
    

    </div>

</body>

</html>

}