package main

templ editpage(node Node) {

<!DOCTYPE html>
<html>

@style()


<body>
    <div class="center">
    @homebutton()    
    
    @links()

    <h3> EDITOR VIEW: </h3>
    <h3> { getNodeName(node) }</h3>

    <div class="border">

    @offspring(node.Name, "Memetic Ancestors", node.Parents)

    <div class="center-image-text">
        <img src={ node.ImagePath } class="tree-img">

        <div>
         <form method="POST">
         <p> <b>Name:</b> <br>
             <input type="text" name="name" value={ node.Name }>
         </p>

         <p> <b>Description:</b> <br>
             <textarea name="description" rows="4" cols="50">{ node.Description }</textarea>
         </p>

         <p> <b>Tags:</b> <br>
            for _, tag := range node.Tags {
                <a href={ buildTagString(tag) }>>{ tag }</a><br>
            }
         </p>

         <button type="submit">Save changes</button>
         </form>
         </div>

    </div>

    <br>

    @offspring(node.Name, "Memetic Offspring", node.Children)

    </div>

</div>

</body>

</html>

}