package main

import(
    "database/sql"
)

templ homepage(db *sql.DB) {

<!DOCTYPE html>
<html>

@style()

<body>
    <div class="center">

    <img src="/assets/tree.jpg" class="main-img">

    <h1>The Memetic Tree of Life</h1>
    
    @links()
    
    <p>
        Explore an archival history of memes and how they pass traits down onto offspring. User submitted and human moderated.
    </p>

    <p>
        There are currently {countNodes(db) } memes in the tree. 
    </p>

    </div>

</body>

</html>

}