package main

templ homepage() {

<!DOCTYPE html>
<html>

@style()

<body>
    <div class="center">

    <img src="/assets/tree.jpg" class="main-img">

    <h1>The Memetic Tree of Life</h1>
    
    @links()
    
    <p>
        Explore an archival history of memes and how they pass traits down onto offspring. User submitted and human moderated.
    </p>

    </div>

</body>

</html>

}