package main

templ links() {
    <div class="h2-row">
        <h2><a href="/search">Search</a></h2>
        <h2><a href="/submission">Submit</a></h2>
        <h2><a href="/random">Random</a></h2>
        <h2><a href="/tree">Tree</a></h2>
        <h2><a href="/about">About</a></h2>
    </div>
}