package main

import (
    "fmt"
)

templ offspring(text string, offspringNodes []Node) {
    
    if len(offspringNodes) > 0 {

    <p>{ text }:</p>

    <div class="h2-row">
        for _, node := range offspringNodes {
        <h4><a href={ "/subpage?id=" + fmt.Sprint(node.ID) }>{ node.Name }</a></h4>
    }
    </div>
    }



}