package main

import (
    "fmt"
    "strings"
)

templ offspring(name string, text string, offspringNodes []Node) {
    
    if len(offspringNodes) > 0 {

    <p>{ text }:</p>

    <div class="h2-row">
        for _, node := range offspringNodes {
        <p><a href={ "/subpage?id=" + fmt.Sprint(node.ID) }>{ node.Name }</a></p>
    }
    </div>
    } else {
        <p>{ text }: None</p>
    }


    if strings.Contains(text, "Offspring"){
        <p><a href={ "/submission?searchType=child&nameinput=" + name }>+Add an offspring</a></p>
    } else {
        <p><a href={ "/submission?searchType=parent&nameinput=" + name}>+Add a parent</a></p>

    }

}