package main

const layout = "2006-01-02 15:04:05"

templ search(results []Node, selectedType string, searchQuery string) {

<!DOCTYPE html>
<html>

@style()

<body>
    <div class="center">
    @homebutton()    
    
    @links()
    
	<form method="POST" action="/search">
		<div style="display: flex; gap: 1rem; align-items: center; justify-content: center;">
			<h3>Search for a node by:</h3>
			<select name="searchType">
				<option value="name" selected?={ selectedType == "name" }>Name</option>
				<option value="tags" selected?={ selectedType == "tags" }>Tags</option>
			</select>
		</div>
        <p>Tags must be comma separated.</p>
		<input type="text" name="nodeinput" value= { searchQuery }>
		<input type="submit" value="Submit">
	</form>

    if len(results) > 0 {
        <h2>Results:</h2>
        <ul>
            for _, node := range results {
                <li>{ node.Name }, { node.Description }, { node.CreatedAt.Format(layout) }</li>
            }
        </ul>
    }

</div>

</body>

</html>

}