package main

// add the LUCA dynamically
func getNodeName(node Node) string {
	nameString := node.Name
	if len(node.Parents) == 0 {
		nameString = "LUCA: " + nameString
	}
	return nameString
}

// build the search query string dynamically
func buildTagString(tagInput string) string {
    return "/search?query=" + tagInput + "&searchType=tags" 
}

templ subpage(node Node) {

<!DOCTYPE html>
<html>

@style()


<body>
    <div class="center">
    @homebutton()    
    
    @links()

    <h3> { getNodeName(node) }</h3>

    <div class="border">

    @offspring(node.Name, "Memetic Ancestors", node.Parents)

    <div class="center-image-text">
        <img src={ node.ImagePath } class="tree-img">

        <div>
         <p> <b>Description:</b> <br>
             { node.Description }
         </p>

         <p> <b>Tags:</b> <br>
            for _, tag := range node.Tags {
                <a href={ buildTagString(tag) }>>{ tag }</a><br>
            }
         </p>
         </div>

    </div>

    <br><br>

    @offspring(node.Name, "Memetic Offspring", node.Children)

    </div>

</div>

</body>

</html>

}