package main

templ subpage() {

<!DOCTYPE html>
<html>

@style()

<body>
    <div class="center">
    @homebutton()    
    
    @links()
    
    <h3>Claude Running the Sink: Variant XXXX</h3>

    <div class="border">

    <div class="center-image-text">
        <img src="/assets/tweet.jpg" class="tree-img">
         <p>
             Here is the description of the image. It might contain some history.
             Perhaps there are also statistics here.
         </p>

    </div>

    <br><br>

    @offspring()

    </div>

</div>

</body>

</html>

}