package main


templ subpage(node Node) {

<!DOCTYPE html>
<html>

@style()

<body>
    <div class="center">
    @homebutton()    
    
    @links()
    
    <h3>{ node.Name }</h3>

    <div class="border">

    @offspring("Memetic Ancestors")


    <div class="center-image-text">
        <img src="/assets/tweet.jpg" class="tree-img">
         <p>
             { node.Description }
         </p>

    </div>

    <br><br>

    @offspring("Memetic Offspring")

    </div>

</div>

</body>

</html>

}